* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
}
header {
  background-image: url(images/desktop/image-header.jpg);
  color: hsl(0, 0%, 100%);
}
header .main-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.nav-list {
  display: flex;
  text-decoration: none;
  gap: 20px;
  color: hsl(0, 0%, 100%);
  list-style-type: none;
}
.header-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 50px;
}
.heading {
  text-transform: uppercase;
}
.main-body .item-boxes {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0;
}
.main-body .item-boxes .transform {
  background-color: hsl(0, 0%, 100%);
  padding: 80px;
  width: 45%;
  gap: 30px;
  justify-content: center;
}
.transform h2 {
  font-size: 1.5rem;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
}
.transform p {
  color: hsl(210, 4%, 67%);
}
.transform a {
  font-weight: bolder;
  color: hsl(212, 27%, 19%);
  border-bottom-color: hsl(51, 100%, 49%);
}

.main-body .item-boxes .plain-img {
  width: 45%;
  align-items: center;
  max-width: fit-content;
}
.graphic-design {
  background-image: url(images/desktop/image-graphic-design.jpg);
  width: 45%;
  display: flex;
  align-items: center;
  padding: 80px;
  flex-direction: column;
  height: 600px;
  justify-content: flex-end;
  background-repeat: no-repeat;
}
.photography {
  background-image: url(images/desktop/image-photography.jpg);
  width: 45%;
  display: flex;
  align-items: center;
  padding: 80px;
  flex-direction: column;
  height: 600px;
  justify-content: flex-end;
  background-repeat: no-repeat;
}
.Testimonials {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px;
}
.Testimonials h3 {
  padding-top: 80px;
  text-transform: uppercase;
  padding-bottom: 30px;
  color: hsl(210, 4%, 67%);
}
.testimonies {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  gap: 30px;
}
.testimony {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.testimony .test-msg {
  color: hsl(210, 4%, 67%);
}
.testimony .user-name {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimony .user-name p {
  color: hsl(210, 4%, 67%, 0.6);
}
.gallery-card {
  width: 100%;
}
.gallery-card img {
  width: 24%;
}
footer {
  background-color: hsl(168, 34%, 41%);
}
/* .contact:hover {
  color: white;
} */
.footer-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  color: hsl(167, 40%, 24%);
}
.footer-items :hover {
  color: white;
}
.bottom-info > ul {
  /* text-decoration: hsl(167, 40%, 24%); */
  list-style-type: none;
  display: flex;
  gap: 20px;
  text-decoration-color: hsl(167, 40%, 24%);
}
.contact {
  display: flex;
  gap: 20px;
  padding-top: 40px;
}
